/*
 * commands: split
 */

.widget {
  background-color: #FF0000;
}

.widget-header {
  background-color: #FF0000;
}

.widget-title {
  background-color: #FF0000;
}

.widget-body {
  background-color: #FF0000;
}

.widget-footer {
  background-color: #FF0000;
}